*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text_title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.text_title{
    margin-right: 100px;
}

body{
    background: white
}

.text_1{
    background-color: blueviolet;
    border-radius: 30px;
}

.main__blocks{
    margin-top: 150px;
}

.button_1{
    padding: 10px 20px;
    border-radius: 16px;
}

.text_3{
    margin-top: 190px;
}

.text_4{
    width: 368px;
}

.text_2 p:nth-of-type(1){
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 34px 25px;
    gap: 10px;
    width: 144px;
    height: 114px;
    background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(138, 174, 245, 0.3);
    backdrop-filter: blur(23px);
    border-radius: 20px;
}

.text_2 p:nth-of-type(2){
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 34px 25px;
    gap: 10px;
    width: 542px;
    height: 114px;
    background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(138, 174, 245, 0.3);
    backdrop-filter: blur(23px);
    border-radius: 20px;
}

.block_1{
    background-image: url(../img/BG.png);
    background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(138, 174, 245, 0.3);
    backdrop-filter: blur(23px);
    border-radius: 20px;
}

.img_1{
    z-index: -1;
    position: absolute;
    right: 60px;
    top: 10px;
}

.text_3{
    font-weight: 700;
    font-size: 144px;
    line-height: 110%;
    color: #8AAEF5;
    width: 448px;
    -ms-flex-align: center;
    position: absolute;
    width: 144px;
    height: 158px;
    left: 450px;
    top: 300px;

}

.block_1{
    width: 448px;
    padding: 60px 40px;
    height: 310px;
    left: 258px;
    top: 1138px;
    background: radial-gradient(79.6% 85.23% at 22.68% 20.4%, rgba(231, 231, 231, 0.2) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(138, 174, 245, 0.3);
    backdrop-filter: blur(23px);
    border-radius: 20px;
}